.outfit-webFont {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.title {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    color: azure;
}

.vertical_mirror {
    transform: scaleY(-1);
}

.navbar {
    width: 30px;
    list-style-type: none;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 130%;
    color:azure;
}

.no-gap {
    line-height: 1; /* Adjust as needed */
    margin: 0;
}

.left-margin {
    margin-left: 20px;
}

.para_text {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vw;
    color:azure;
    padding-top: 6%;
    text-align: center;
}

@media (min-width: 1200px) {
    .para_text {
        font-size: 35px;
    }
}

/* Homepage CSS Classes */

.homepage_image {
    width: 40vw;
    height: auto;
    display: flex;
    justify-content: center;
}

.homepage_imageWrap {
    background: linear-gradient(105deg, rgb(255 46 144) 0%, rgb(61 35 185) 100%);
    width: 40vw;
    position: relative;
    padding: 4px;
}

@media (min-width: 1200px) {
    .homepage_image {
        width: 500px;
    }
    .homepage_imageWrap {
        width: 505px;
    }
}

.container {
    display: flex;
    justify-content: space-between; 
    padding: 2%;
}

.item {
    width: 48%;
    box-sizing: border-box;
}

.image_item {
    display: flex;
    justify-content: center;
}   

/* Contact CSS Classes*/

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact_image {
    height: 100%;
    width: 100%;
    transition: transform 0.3s ease;
    filter:invert(100);
    display: flex;
    justify-content: center;
}

.contact_image:hover
{
    transform: scale(1.2);
}


li {
    margin-bottom: 20px;
    display: block;
    transition: transform 0.3s ease;
}

li:hover {
    transform: scale(1.2);
}

body {
    background-color: #232E3A;
}

td {
    padding: 0 3%;
}

a {
    text-decoration: none;
    color: inherit;
}